# Tipe Data Tunggal

- Integer : 4, 5, 2, 3, 6
- Float : 4.0, 3.2, 4.2, 5.65
- Boolean : True, False
- Complex : 4+2j, 3+2j

In [1]:
a = 3
type(a)

int

In [2]:
b = 7.4
type(b)

float

# Tipe Data Majemuk

### Tuple

In [3]:
a = (1,2,3,4.0,(2,3,4),True)

In [2]:
print(a[5])

True

In [3]:
type(a)

tuple

In [4]:
type(a[5])

bool

In [6]:
a[-1]

True

In [5]:
# melihat jumlah data
len(a)

6

#### Expression pada Tuple

In [7]:
tup_a = (1,2,3)
tup_b = (4,5,6)

In [13]:
tup_c = tup_a + tup_b

In [9]:
tup_a * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [11]:
2 in tup_a

True

In [14]:
tup_c

(1, 2, 3, 4, 5, 6)

#### Indexing & Slicing Tuple

In [18]:
tup_a = (1,2,3,4,5,6,7,8,9)
tup_b = (4,5,6)

In [16]:
# ambil satu data
tup_a[1]

2

In [19]:
tup_a[-1]

9

In [20]:
tup_a[3:]

(4, 5, 6, 7, 8, 9)

In [22]:
tup_a[:4]

(1, 2, 3, 4)

In [24]:
tup_a[2:5:2]

(3, 5)

In [25]:
tup_a[::-1]

(9, 8, 7, 6, 5, 4, 3, 2, 1)

#### Built-in Function

In [26]:
len(tup_a)

9

In [27]:
max(tup_a)

9

In [28]:
min(tup_a)

1

### List

In [46]:
my_list = [1,2,3,4.0,(2,3,4),True]

In [47]:
len(my_list)

6

In [48]:
my_list[4]

(2, 3, 4)

#### Update

In [49]:
my_list[4] = [1,2,3]

In [50]:
my_list

[1, 2, 3, 4.0, [1, 2, 3], True]

In [51]:
my_list[4] = 'hai'

In [52]:
my_list

[1, 2, 3, 4.0, 'hai', True]

In [53]:
## menghapus item
del my_list[2]

In [54]:
my_list

[1, 2, 4.0, 'hai', True]

In [55]:
my_list.remove(4.0)

In [56]:
my_list

[1, 2, 'hai', True]

In [57]:
a = [1,2,3,2,3,2,4,5]

In [58]:
a.remove(2)

In [59]:
a

[1, 3, 2, 3, 2, 4, 5]

In [69]:
# menambahkan nilai
a = [1,2,3,2,3,2,4,5]

In [62]:
a.append(1000)

In [63]:
a

[1, 2, 3, 2, 3, 2, 4, 5, 1000]

In [64]:
a.insert(1,5000)

In [65]:
a

[1, 5000, 2, 3, 2, 3, 2, 4, 5, 1000]

In [67]:
a.append([1,2,3])

In [68]:
a

[1, 5000, 2, 3, 2, 3, 2, 4, 5, 1000, [1, 2, 3]]

In [74]:
a = [1,2,3,2,3,2,4,5]
a.extend([1,2,3])

In [75]:
a

[1, 2, 3, 2, 3, 2, 4, 5, 1, 2, 3]

In [76]:
a.reverse()

In [77]:
a

[3, 2, 1, 5, 4, 2, 3, 2, 3, 2, 1]

In [78]:
# pop
a.pop()

1

In [79]:
a

[3, 2, 1, 5, 4, 2, 3, 2, 3, 2]

In [80]:
b = a.pop()

In [81]:
a

[3, 2, 1, 5, 4, 2, 3, 2, 3]

In [82]:
b

2

### Set

In [89]:
a = {1,1,1,1,1,1,1,1,11,1,2,3,4,5}
b = {4,5,6,7,8}

In [87]:
type(a)

set

In [90]:
a

{1, 2, 3, 4, 5, 11}

In [91]:
b

{4, 5, 6, 7, 8}

In [93]:
a.intersection(b)

{4, 5}

In [94]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 11}

### Dictionary

In [95]:
dictionary = {'nama':'Afif', 'channel':'NgodingPython', 'usia':17}

In [98]:
dictionary['usia'] = 15

In [99]:
dictionary

{'nama': 'Afif', 'channel': 'NgodingPython', 'usia': 15}

In [100]:
dictionary.keys()

dict_keys(['nama', 'channel', 'usia'])

In [101]:
dictionary.values()

dict_values(['Afif', 'NgodingPython', 15])

In [103]:
d_list = dictionary.items()

In [105]:
d_list

dict_items([('nama', 'Afif'), ('channel', 'NgodingPython'), ('usia', 15)])

# String

In [107]:
my_str = 'NgodingPython'

In [108]:
my_str[0]

'N'

In [109]:
my_str = 'NgodingPython'
my_str2 = "NgodingPython"

In [111]:
type(my_str2)

str

In [117]:
my_str = "Jum'at"
my_str2 = 'Jum\'at'
my_str3 = "1\\2"

In [118]:
print(my_str3)

1\2

In [119]:
lirik = '''Indonesia Tanah Airku
Tanah Tumpah Darahku'''

In [120]:
lirik

'Indonesia Tanah Airku\nTanah Tumpah Darahku'

In [121]:
print(lirik)

Indonesia Tanah Airku
Tanah Tumpah Darahku

In [122]:
my_str[::-1]

"ta'muJ"

In [123]:
a = 'Ngoding'
b = 'Python'

In [124]:
a+b

'NgodingPython'

In [126]:
'P' in b

True

In [136]:
template = "{x1} * {x2} = {hasil}"
a = 5
b = 3

In [140]:
template.format(x1=a*b,x2=a, hasil=b)

'15 * 5 = 3'

In [131]:
f'{a} * {b} = {a*b}'

'5 * 3 = 15'

In [142]:
template = "%d * %d = %d"
template %(a,b,a*b)

'5 * 3 = 15'

In [150]:
a ='NgodingPython'

In [152]:
a.upper()

'NGODINGPYTHON'

In [156]:
a.find('Pyt')

7

In [144]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [157]:
pesanan_saya = "nasi goreng,ayam goreng,es jeruk"

In [158]:
pesanan_saya[0]

'n'

In [161]:
splt_pesanan = pesanan_saya.split(',')

In [162]:
splt_pesanan[0]

'nasi goreng'